---
name: {{ aiida_env_name }}
channels:
{% for channel in aiida_env_channels %}
  - {{ channel | e }}
{% endfor %}
dependencies:
{% for package in aiida_conda_packages %}
  - {{ package | e }}
{% endfor %}
...
